@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');



.header {
  width: 100%;
  height: 5rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: hsl(337, 96%, 27%);
  padding: 0 10%;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 700;
}

.header strong {
  font-size: 50;
  color: black;
}

.header pre {
  margin: 0;
}
.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
.header li {
  margin-left: 2rem;
}

.headerLink {
  color: #000000;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
}

.headerLink:hover {
  color: white;
}
.bg {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1a1a1a;
  background-repeat: no-repeat;
  background-size: cover;
}
.profileNav {
  transform: translate(6.5rem);
}
.dropDownButton {
  margin-left: 1rem;
  display: inline-block;
  background-color: inherit;
  height: 2.5rem;
  box-shadow: none;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: rgb(255, 255, 255) !important;
}
.dropDownMenu {
  background-color: hsl(0, 0%, 6%);
  transform: translate(0, 1rem);
  height: 6rem;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: left;
  border: 0.15rem solid rgb(32, 32, 32);
  border-radius: 0.5rem;
}
.dropdown-item {
  text-align: left;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  display: block;
  color: rgb(78, 78, 78);
}

.profilePic {
  height: 4.5rem;
  width: 4.5rem;
}
.logoImage {
  height: 5rem;
  width: 5rem;
  margin-left: -6rem;
  margin-right: 0.5rem;
  mix-blend-mode: multiply;
}

.header img:hover {
  cursor: pointer;
}
.profilePic:hover {
  filter: brightness(50%);
}
.linkInput {
  height: 60%;
  width: 23.3rem;
  font-size: 2rem;
  text-align: left;
}
.roundedCirc {
  height: 4rem !important;
  width: 4rem !important;
  font-size: 2rem !important;
  border-radius: 50% !important;
  transform: translate(24.75rem, 0);
  position: absolute;
}
