html {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
  font-size: 1.5rem;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header strong {
  font-size: 50;
  color: black;
}

.header pre {
  margin: 0;
}
.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
.header li {
  margin-left: 2rem;
}

.headerLink {
  color: #a8a8a8;
  font-size: 2.0rem;
}
.headerLink:hover {
  color: white;
}
.bg {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-color: #3b3b3b;
}
.profileNav {
  transform: translate(4rem);
}
.dropDownButton {
  background-color: inherit;
  transform: translate(1rem);
  align-self: center;
  height: 2.5rem;
}

a {
  color: rgb(31, 31, 31);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
}
.dropDownMenu {
  background-color: #77002e;

  position: absolute;
  transform: translate(5.5rem, 4rem);
  height: 13rem;
  width: 13.25rem;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: left;
  border: 0.15rem solid rgb(32, 32, 32);
  border-radius: 0.5rem;
}
.dropdown-item {
  text-align: left;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  display: block;
}

.header img {
  height: 4.5rem;
  width: 4.5rem;
}
.header img:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.linkInput {
  height: 75%;
  width: 50%;
  font-size: 2rem;
  text-align: left;
}
.roundedCirc {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  transform: translate(15rem, 0);
  position: absolute;
}
.imageCard {
  background-color: #1f1f1f;
  color: white;
  max-height: 15rem;
}
