@import-normalize;
.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  height: 35rem;
  background-color: hsla(0, 0%, 4%, 0.604);
}
.colored-tile,
.non-colored-tile,
.captured,
.captured-bg {
  user-select: none;
  display: flex;
  pointer-events: all;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
}

.colored-tile {
  background-color: hsl(30, 52%, 48%);
}
.non-colored-tile {
  background-color: hsl(30, 67%, 82%);
}

.hint,
.captureHint {
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: content-box;
  pointer-events: none;
  height: 3.25%;
  width: 1.625%;
  position: absolute;
}
.hint {
  background-color: rgba(0, 0, 0, 0.2);
}
.captureHint {
  border: 7px solid rgba(0, 0, 0, 0.2);
  height: 6.5%;
  width: 3.25%;
}

.captured-bg {
  pointer-events: none;
  width: 100%;
  justify-content: left;
}
.captured {
  pointer-events: none;
  width: 4rem;
  height: 4rem;
  position: relative;
}
.mainPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #3b3b3b;
}

.white,
.black {
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: 80% 80%;
}

.white-n {
  background-image: url('/src/components/game/images/n_w.png');
}
.black-n {
  background-image: url('/src/components/game/images/n_b.png');
}
.white-p,
.black-p {
  background-size: 60% 75%;
}
.white-p {
  background-image: url('/src/components/game/images/p_w.png');
}
.black-p {
  background-image: url('/src/components/game/images/p_b.png');
}
.white-b {
  background-image: url('/src/components/game/images/b_w.png');
}
.black-b {
  background-image: url('/src/components/game/images/b_b.png');
}
.white-r,
.black-r {
  background-size: 75% 80%;
}
.white-r {
  background-image: url('/src/components/game/images/r_w.png');
}
.black-r {
  background-image: url('/src/components/game/images/r_b.png');
}
.white-q,
.black-q,
.white-k {
  background-size: 90% 90%;
}
.white-q {
  background-image: url('/src/components/game/images/q_w.png');
}
.black-q {
  background-image: url('/src/components/game/images/q_b.png');
}
.white-k {
  background-image: url('/src/components/game/images/k_w.png');
}
.black-k {
  background-size: 125% 100%;
  background-image: url('/src/components/game/images/k_b.png');
}
